* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #212121
}

.container {
    position: relative;
}

.clock {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    color: white;
    /* display: inline-block; */
    position: absolute;
    transform: rotate(calc(30deg * var(--i))); 
    inset: 12px;
    text-align: center ;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block ;
    /* position: absolute; */
    font-size: 25px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.hand {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

.hand i {
    position: absolute;
    background-color: var(--clr);
    width: var(--w);
    height: var(--h);
    border-radius: 8px;
}

@media (min-width: 1000px) {
    .clock {
        width: 600px;
        height: 600px;
    }
    .hand i {
        height: var(--h0);
        border-radius: 8px;
    }
    .clock span {
        inset: 14px;
    }
    .clock span b {
        font-size: 30px;
    }
}

@media (max-width: 540px) and (min-width: 300px) {
    .clock {
        width: 250px;
        height: 250px;
    }
    .hand i {
        height: var(--h1);
        border-radius: 8px;
    }
    .clock span {
        inset: 8px;
    }
    
}

@media (max-width: 300px) and (min-width: 100px) {
    .clock {
        width: 190px;
        height: 190px;
    }
    .hand i {
        height: var(--h2);
        border-radius: 8px;
    }
    .clock span {
        inset: 8px;
    }
}